body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f1f1f;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-header {
    display: flex;
    align-items: center;
    width: 100%;
}

.app-logo {
    width: 60px;
    height: 60px;
    border-radius: 15%;
}

.app-details {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    text-align: right;
}

.app-details h1 {
    margin: 0;
    font-size: 24px;
}

.company, .in-app-purchases {
    margin: 5px 0;
    font-size: 14px;
    color: #cccccc;
}

.rating {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    margin-top: 10px;
    justify-content: flex-end;
}

.stars {
    font-weight: bold;
    color: #fbc02d;
}

.install-button {
    background-color: #1a73e8;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

.install-button:hover {
    background-color: #135abf;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.app-info, .data-security {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
}

.app-info h2, .data-security h2 {
    margin-top: 0;
}

.category {
    display: inline-block;
    background-color: #303030;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #cccccc;
}

.data-details {
    margin-top: 10px;
}

.data-sharing, .data-collection {
    background-color: #303030;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}